---
import { Markdown } from "astro/components"
import groq from "groq"
import sanityClient from "../../sanityClient"
import BaseLayout from "../../layouts/BaseLayout.astro"
import { kebabCase } from "../../lib/utils"

export async function getStaticPaths() {
  const query = groq`*[_type == "post"]{
    seoKeywords
  }`
  const data = await sanityClient.fetch(query).then(response => response)
  const tags = [...new Set(data.map(e => e.seoKeywords.split(", ")).flat(1).sort())]
  return tags.map(tag => {
    return {
      params: { slug: kebabCase(tag) },
      props: { tag }
    }
  })
}
const { slug } = Astro.request.params
const { tag } = Astro.props
const title = `Tag: ${tag}`
---
<BaseLayout title={title}>
  <div>
    <h1>{title}</h1>
    <br>
    <p><a href="/tags">All tags</a></p>
  </div>
</BaseLayout>

<!-- prettier-ignore -->
<style>

</style>
