@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.serif {
  font-family: Georgia, Times, serif;
}

.outer {
  position: relative;
  padding: 0 4vmin;
}

.inner {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.gap-v {
  grid-gap: 4vmin;
}

.h-50 {
  height: 200px;
}
