---
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
import Navbar from "../components/Navbar.astro"
import "../styles/global.scss"

const {title} = Astro.props
---
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{title}</title>

  <link rel="icon" type="image/x-icon" href="/favicon.svg" />
  <link rel="stylesheet" href={Astro.resolve('../styles/global.scss')}>

</head>
<body>
  <div id="app">
    <div>
      <Header />
      <Navbar />
    </div>
    <main>
      <slot />
    </main>
    <Footer />
  </div>
</body>

<!-- prettier-ignore -->
<style>

</style>
