---
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
import Navbar from "../components/Navbar.astro"
import "../styles/global.scss"

const {title} = Astro.props
---
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{title}</title>

  <link
    rel="icon"
    href="data:image/svg+xml,
      <svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22>
        <text y=%22.9em%22 font-size=%2290%22>✋</text>
      </svg>"
  />
  <link rel="stylesheet" href={Astro.resolve('../styles/global.scss')}>

</head>
<body>
  <div id="app">
    <div>
      <Header />
      <br>
      <Navbar />
      <br>
    </div>
    <main>
      <slot />
    </main>
    <br>
    <Footer />
  </div>
</body>

<!-- prettier-ignore -->
<style>

</style>
