---
import { Markdown } from "astro/components"
import groq from "groq"
import sanityClient from "../../sanityClient"
import BaseLayout from "../../layouts/BaseLayout.astro"

export async function getStaticPaths({ paginate }) {
  const query = groq`*[_type == "author"] | order(name){
    bio,
    name,
    "slug": slug.current
  }`
  const data = await sanityClient.fetch(query).then(response => response)
  return data.map((post) => {
    return {
      params: { slug: post.slug },
      props: { post }
    }
  })
}

const { slug } = Astro.request.params
const { post } = Astro.props
---
<BaseLayout title={post.title}>
  <div>
    <h1>{post.name}</h1>
    <br>
    <Markdown>{post.bio}</Markdown>
  </div>
</BaseLayout>

<!-- prettier-ignore -->
<style>

</style>
