---
import format from "date-fns/format"
import sanityClient from "../lib/sanityClient"
import { featuredPostsQuery } from "../lib/queries"
import { Home } from "../lib/interfaces"

const response = await sanityClient.fetch(featuredPostsQuery)
const data: { posts: Home } = await response
const { featured } = data.posts
console.log(data)
---
<section>
  <h2>Featured Posts</h2>
  <ul>
    {featured.map(post =>
      <li><a href={`/blog/${post.slug}`}>{post.title}</a><br>
        {format(new Date(post.publishedAt), "eeee, do MMMM yyyy")}
      </li>
    )}
  </ul>
</section>
