---
import groq from "groq"
import sanityClient from "../sanityClient"
import { dateOptions } from "../lib/utils"

const query = groq`*[_type == "home"][0]{
  featured[0..2]->{
    publishedAt,
    "slug": slug.current,
    title
  }
}`
const response = await sanityClient.fetch(query)
const data = await response
---
<section>
  <h2>Featured Posts</h2>
  <br>
  <ul>
    {data.featured.map(item =>
      <li><a href="/blog/${item.slug}">{item.title}</a><br>
        {new Date(item.publishedAt).toLocaleDateString("en-GB", dateOptions)}
      </li>
    )}
  </ul>
</section>
