---
import Navbar from "../components/Navbar.astro"
const { siteName } = Astro.props
---
<header class="container mx-auto grid grid-cols-2">
  <h1>
    <a href="/">{siteName}</a>
  </h1>
  <Navbar />
</header>
