---
import Navbar from "../components/Navbar.astro"
const { siteName } = Astro.props
---
<header class="container mx-auto">
  <h1>
    <a href="/">{siteName}</a>
  </h1>
  <Navbar />
</header>

<!-- <style>
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
</style> -->
