---
import format from "date-fns/format"
import sanityClient from "../lib/sanityClient"
import { latestPostsQuery } from "../lib/queries"
import { Post } from "../lib/interfaces"

const response = await sanityClient.fetch(latestPostsQuery)
const data: { posts: Post[] } = await response
const { posts } = data
---
<section>
<h2>Latest Posts</h2>
  <ul>
    {posts.map(post =>
      <li><a href="/blog/${item.slug}">{post.title}</a><br>
        {format(new Date(post.publishedAt), "eeee, do MMMM yyyy")}
      </li>
    )}
  </ul>
</section>
