---
import groq from "groq"
import sanityClient from "../lib/sanityClient"
import { dateOptions } from "../lib/utils"

const query = groq`*[_type == "post"] | order(publishedAt desc)[0..2]{
  publishedAt,
  "slug": slug.current,
  title
}`
const response = await sanityClient.fetch(query)
const data = await response
---
<section>
<h2>Latest Posts</h2>
  <br>
  <ul>
    {data.map(item =>
      <li><a href="/blog/${item.slug}">{item.title}</a><br>
        {new Date(item.publishedAt).toLocaleDateString("en-GB", dateOptions)}
      </li>
    )}
  </ul>
</section>
