---
import format from "date-fns/format"
import sanityClient from "../lib/sanityClient"
import { latestPostsQuery } from "../lib/queries"
import { Post } from "../lib/interfaces"

const response = await sanityClient.fetch(latestPostsQuery)
const data: { posts: Post[] } = await response
const { posts } = data
---
<section>
  <h2>Latest Posts</h2>
  <div class="grid grid-cols-3 gap-4">
    {posts.map(post =>
      <div>
        <div class="image"></div>
        <div>
          <p><a href={`/blog/${post.slug}`}>{post.title}</a></p>
          <p>{format(new Date(post.publishedAt), "eeee, do MMMM yyyy")}</p>
        </div>
      </div>
    )}
  </div>
</section>
