---
import sanityClient from "../lib/sanityClient"
import { navQuery } from "../lib/queries"
import { Menu } from "../lib/interfaces"

const response = await sanityClient.fetch(navQuery)
const data: { menu: Menu } = await response
const { siteName } = Astro.props
const { menu } = data
---
<nav class="text-white">
  <ul class="flex gap-7">
    <li><a href={"/"}>{siteName}</a></li>
    {menu.item.map(item =>
      <li><a href={`/${item.slug}`}>{item.title}</a></li>
    )}
  </ul>
</nav>
