---
import sanityClient from "../lib/sanityClient"
import { navQuery } from "../lib/queries"
import { Menu } from "../lib/interfaces"
const response = await sanityClient.fetch(navQuery)
const data: { menu: Menu } = await response
const { menu } = data
---
<nav class="nav">
  <ul>
    {menu.item.map(item =>
      <li><a href="/${item.slug}">{item.title}</a></li>
    )}
  </ul>
</nav>

<style>

</style>
