---
import BaseLayout from "layouts/BaseLayout.astro"
const title = "404"
---
<BaseLayout title={title}>
  <div class="sans center">
    <h1>Not Found</h1>
    <p>This path does not exist.</p>
    <a href="/">home</a>
  </div>
</BaseLayout>
