---
import groq from "groq"
import sanityClient from "../sanityClient"
import BaseLayout from "../layouts/BaseLayout.astro"
import { dateOptions } from "../lib/utils"

const query = groq`*[_type == "post"] | order(publishedAt desc){
  publishedAt,
  "slug": slug.current,
  title
}`
const response = await sanityClient.fetch(query)
const data = await response
const title = "Blog"
---
<BaseLayout title={title}>
  <div>
    <h1>{title}</h1>
    <br>
    <ul>
      {data.map(item =>
        <li><a href=`/blog/${item.slug}`>{item.title}</a><br>
          {new Date(item.publishedAt).toLocaleDateString("en-GB", dateOptions)}
        </li>
      )}
    </ul>
  </div>
</BaseLayout>

<!-- prettier-ignore -->
<style>

</style>
