---
import { Markdown } from "astro/components"
import BaseLayout from "../layouts/BaseLayout.astro"
import ContactForm from "../components/ContactForm.astro"

const title = "Contact us"
---
<BaseLayout title={title}>
  <div>
    <h1>{title}</h1>
    <br>
    <ContactForm />
  </div>
</BaseLayout>

<!-- prettier-ignore -->
<style>

</style>
