---
import { Markdown } from "astro/components"
import BaseLayout from "../layouts/BaseLayout.astro"

const title = "Contact us"
---
<BaseLayout title={title}>
  <div>
    <h1>{title}</h1>
    <Markdown>

    </Markdown>
  </div>
</BaseLayout>

<!-- prettier-ignore -->
<style>

</style>
