---
// Component Imports
import BaseLayout from "../layouts/BaseLayout.astro"
import { capitalize } from "../lib/utils.ts"
import logo from "/assets/logo.svg"
// You can import components from any supported Framework here!

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
const title = "Home"

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<BaseLayout title={title}>
  <section>
    <h1>{title}</h1>
    <img src={logo} class="logo" alt="logo" />
  </section>
</BaseLayout>

<style>

</style>
