---
// Component Imports
import BaseLayout from "../layouts/BaseLayout.astro"

const title = "Home"
---
<BaseLayout title={title}>
  <section>
    <h1>{title}</h1>
  </section>
</BaseLayout>

<!-- prettier-ignore -->
<style>

</style>
