---
import { Markdown } from "astro/components"
import groq from "groq"
import sanityClient from "../sanityClient"
import BaseLayout from "../layouts/BaseLayout.astro"
import Featured from "../components/Featured.astro"
import Latest from "../components/Latest.astro"

const query = groq`*[_type == "home"]{
  body,
  title
}`
const response = await sanityClient.fetch(query)
const data = await response
const title = "Home"
---
<BaseLayout
  title={title}
>
  <section>
    <h1>{data.title}</h1>
    <Markdown>{data.body}</Markdown>
  </section>
  <br>
  <Featured />
  <br>
  <Latest />
</BaseLayout>

<!-- prettier-ignore -->
<style>

</style>
