---
import { Markdown } from "astro/components"
import BaseLayout from "../layouts/BaseLayout.astro"

const title = "Our Message"
---
<BaseLayout title={title}>
  <div>
    <h1>{title}</h1>
    <Markdown>
      # “Our message is that we are here to help everybody in the world experience their  **[inner awakening](https://in-our-hands.com/self-realisation-is-in-our-hands/)**. As a one-off event in our lives, it transforms human understanding and we believe that it is the key to changing the world for the better. Everything we do is free-of-charge.”

      #### Our Source

      The source of the transformation came from a lady and respected spiritual Guru known as “[**Shri Mataji Nirmala Devi**](https://in-our-hands.com/shri-mataji-nirmala-devi/)“, who showed how all people can achieve a profound inner change very simply. This leads to permanent changes for the better in mental state, physical condition, understanding of others and our place and purpose in the Universe.

      If the majority of people on Earth experience this transformation, the problems being experienced by the human race will be eliminated entirely and a peaceful and abundant future for the world will be possible.
    </Markdown>
  </div>
</BaseLayout>

<!-- prettier-ignore -->
<style>

</style>
