---
import { Markdown } from "astro/components"
import sanityClient from "../sanityClient"
import groq from "groq"
import BaseLayout from "../layouts/BaseLayout.astro"
import { capitalize } from "../lib/utils.ts"

const query = groq`*[_type == 'article'][0]`

const response = await sanityClient.fetch(query)
const data = await response
---
<BaseLayout title={data.title}>
  <div>
    <h1>{data.title}</h1>
    <Markdown>{data.body}</Markdown>
  </div>
</BaseLayout>

<!-- prettier-ignore -->
<style>

</style>
