---
import { Markdown } from "astro/components"
import BaseLayout from "../layouts/BaseLayout.astro"
import { capitalize } from "../lib/utils.ts"
const title = "Who are we?"
---
<BaseLayout title={title}>
  <div class={title}>
    <h1>{title}</h1>
    <Markdown>
      For millennia, it has been understood that the human race has a capability to experience a mass **[inner awakening](https://in-our-hands.com/self-realisation-is-in-our-hands/)**, generally known as “Enlightenment” or “Self Realisation”. It is the point at which a person can suddenly achieve an inner connection with the creative force in the Universe which is present in all living things. This leads to an expansion of the awareness so that we can experience our connection with the whole of nature, humanity and the created universe. Through this change, we also have the capacity to put right problems in the subtle system in our body, which automatically relieves physical problems, illness and mental imbalances that we are experiencing. The human race needs this transformation urgently and it seems to be the right time for this to happen.

      To provide an answer for this need, In 1923 a lady called “Nirmala Shrivastava” was born in India. She lead a remarkable life which resulted in her creating a worldwide collective known as “Vishwa Nirmala Dharma” or “Sahaja Yoga” as it is better known. She gave Self Realisation to millions of people and those people who got it can pass it on to others like a candle lighting another candle. She later became known as “[**Shri Mataji Nirmala Devi**](https://in-our-hands.com/shri-mataji-nirmala-devi/)” and in her home country is regarded as a modern saint. Her lifelong principle was that Self Realisation should always be given free-of-charge to everybody. Self Realisation is something that everybody can achieve very simply – in moments – and we do not have to change our way of life to experience it.

      From its beginning, the human race has been striving to achieve more and more control over its environment. The effect of this in recent centuries has been devastating for the natural world and it is becoming clear that the unnatural way in which we have been living has had an effect on our mental health as well. Humankind has lost its connection with nature and if this continues, the result will be catastrophic.The true nature of the universe is now becoming clearer to science.

      There has been a lot said recently about the connection of human consciousness with the material world – even to the extent of proposing that the universe is in fact a structure that is only present in a realm of collective consciousness. In other words, it may not actually exist in the form that we experience it. This was understood and discussed in ancient scriptures in India and elsewhere. Shri Mataji has talked about this and made it clear that everything can change through human awareness. She showed how the effects of pollution and global warming can be alleviated through mass Self Realisation of the human race.

      All the people of the world can experience this remarkable change so they can enjoy its benefits themselves. There is no need to take on the practise of Sahaja Yoga for benefits to be felt – the main requirement is to achieve Self Realisation. This is a very simple act, and to achieve it one simply needs to put one’s attention on the higher energy in the universe for a moment in the right environment. It is not hypnosis. The changes can be felt on the central nervous system and lead to sensations in the fingers and the rest of the body which we can use to clearly show the connection between all human beings and the universe itself. By doing this, we can begin to make the right choices about how to treat things in the natural environment and also our own lives and society in general.

      Who are we? We are the millions who practise Sahaja Yoga meditation every day and we care deeply about humanity and the Earth. We know that the answers to all the worlds problems depend on all of us on Earth achieving inner awakening.

      **Find out more about inner awakening  [here](https://in-our-hands.com/self-realisation-is-in-our-hands/).**
    </Markdown>
  </div>
</BaseLayout>

<!-- prettier-ignore -->
<style>

</style>
