---
// import { Markdown } from "astro/components"
import groq from "groq"
import BaseLayout from "../layouts/BaseLayout.astro"
import { capitalize } from "../lib/utils.ts"

const query = groq`*[_type == 'article'][0]`
const title = "Who are we?"
---
<BaseLayout title={title}>
  <div class={title}>
    <h1>{title}</h1>
    <p>{query}</p>
  </div>
</BaseLayout>

<!-- prettier-ignore -->
<style>

</style>
