html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: #1b1c1d;
    color: #fafafa;
}

h1, h2, h3, h4 {
  font-family: ui-serif, "Iowan Old Style", "Palatino Linotype" Palatino, "URW Palladio L", serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
