html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, sans-serif;
  background: #002233;
  color: #fafafa;
  position: relative;
}

h1, h2, h3, h4 {
  font-family: ui-serif, "Iowan Old Style", "Palatino Linotype", Palatino, "URW Palladio L", serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.emoji {
  font-size: 8rem;
  position: relative;
  z-index: 10;
}
.tube {
  position: relative;
  z-index: 1;
}
.circle {
  width: 80%;
  position: absolute;
  background: #22BCA0;
  left: 10%;
  top: 10%;
  border-radius: 50%;
  z-index: 0;
  &::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}