<nav class="nav">
  <ul>
    <a href="/"><li>Home</li></a>
    <a href="/who-are-we"><li>Who are we?</li></a>
    <a href="/our-message"><li>Our message</li></a>
    <a href="/in-your-hands"><li>In your hands</li></a>
    <a href="/blog"><li>Blog</li></a>
    <a href="/contact-us"><li>Contact us</li></a>
  </ul>
</nav>

<!-- prettier-ignore -->
<style>

</style>
