---
import groq from "groq"
import sanityClient from "../sanityClient"
import BaseLayout from "../layouts/BaseLayout.astro"

const query = groq`*[_type == "author"]{
  name,
  "posts": *[_type == "post" && author._ref == ^._id]{},
  "slug": slug.current
}[count(posts) > 0]`

const response = await sanityClient.fetch(query)
const data = await response

const title = "All Authors"
---
<BaseLayout title={title}>
  <div>
    <h1>{title}</h1>
    <br>
    <ul>
      {data.map(item =>
        <li>
          <a href="/author/${item.slug}">{item.name}</a>
        </li>
      )}
    </ul>
  </div>
</BaseLayout>

<!-- prettier-ignore -->
<style>

</style>
