---
import { Markdown } from "astro/components"
import sanityClient from "../lib/sanityClient"
import BaseLayout from "../layouts/BaseLayout.astro"
import Featured from "../components/Featured.astro"
import Latest from "../components/Latest.astro"
import { indexQuery } from "../lib/queries"
import { Home } from "../lib/interfaces"

const response = await sanityClient.fetch(indexQuery)
const data: { home: Home } = await response
const { body, title } = data.home
const pageTitle = "Home"
---
<BaseLayout
  title={pageTitle}
>
  <section>
    <h1>{title}</h1>
    <Markdown>{body}</Markdown>
  </section>
  <br>
  <Featured />
  <br>
  <Latest />
</BaseLayout>

<!-- prettier-ignore -->
<style>

</style>
